<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Seznam arén</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Seznam arén</h1>

<a sec:authorize="hasRole('ROLE_ADMIN')" href="/arenas/add">Přidat arénu</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Název</th>
        <th>Kapacita</th>
        <th>Počet zápasů</th>
        <th>Akce</th>
    </tr>
    <tr th:each="arena : ${arenas}">
        <td th:text="${arena.id}"></td>
        <td th:text="${arena.name}"></td>
        <td th:text="${arena.capacity}"></td>
        <td th:text="${arenaMatchCount[arena.id]}"></td>
        <td>
            <a th:href="@{/arenas/{id}(id=${arena.id})}">Detail</a>
              <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/arenas/edit/{id}(id=${arena.id})}">Upravit</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/arenas/delete/confirm/{id}(id=${arena.id})}">Smazat</a>
        </td>
    </tr>
</table>

<a href="/">Zpět na hlavní stránku</a>
</body>
</html>
