<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail kurzu</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Detail kurzu</h1>

<p><strong>ID:</strong> <span th:text="${course.id}"></span></p>
<p><strong>Název:</strong> <span th:text="${course.name}"></span></p>
<p><strong>Lektor:</strong> <span th:text="${course.lecturer.name}"></span></p>

<div th:if="${course.room != null}">
    <p><strong>Místnost:</strong> <span th:text="${course.room.name}"></span></p>
    <p><strong>Kapacita místnosti:</strong> <span th:text="${course.room.capacity}"></span></p>
</div>
<div th:if="${course.room == null}">
    <p><em>Místnost zatím není přiřazena.</em></p>
</div>


<a href="/courses/">Zpět na seznam kurzů</a>

</body>
</html>
