<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seznam kurzů</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Seznam kurzů</h1>

<a href="/courses/add">Přidat kurz</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Název</th>
        <th>Lektor</th>
        <th>Místnost</th>
        <th>Akce</th>
    </tr>
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td th:text="${course.lecturer.name}"></td>
        <td th:text="${course.room != null ? course.room.name : '---'}"></td>
        <td>
            <a th:href="@{/courses/{id}(id=${course.id})}">Detail</a>
            <a th:href="@{/courses/{id}/edit(id=${course.id})}">Upravit</a>
            <a th:href="@{/courses/{id}/delete(id=${course.id})}">Smazat</a>
        </td>
    </tr>
</table>
<a href="/">Back</a>
</body>
</html>
