<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seznam zápasů</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Seznam zápasů</h1>

<a href="/matches/add">Přidat zápas</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Název</th>
        <th>Rozhodčí</th>
        <th>Počet hráčů</th>
        <th>Aréna</th>
        <th>Akce</th>
    </tr>
    <tr th:each="match : ${matches}">
        <td th:text="${match.id}"></td>
        <td th:text="${match.name}"></td>
        <td th:text="${match.referee.name}"></td>
        <td th:text="${match.participants}"></td>
        <td th:text="${match.arena.name}"></td>
        <td>
            <a th:href="@{/matches/{id}(id=${match.id})}">Detail</a>
            <a th:href="@{/matches/{id}/edit(id=${match.id})}">Upravit</a>
            <a th:href="@{/matches/{id}/delete(id=${match.id})}">Smazat</a>
        </td>
    </tr>
</table>

<a href="/">Zpět na hlavní stránku</a>

</body>
</html>
