<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Seznam hráčů</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-5">

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Seznam hráčů</h1>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/players/add}" class="btn btn-success">Přidat nového hráče</a>
</div>

<ul class="list-group mb-3">
    <li class="list-group-item" th:each="player : ${players}">
        <a th:href="@{'/players/' + ${player.id}}" th:text="${player.username}"></a>
    </li>
</ul>

<a href="/" class="btn btn-secondary">Zpět</a>

</body>
</html>
