<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Přidat / Upravit hráče</title>
</head>
<body>

<h1 th:text="${player.id == 0 ? 'Nový hráč' : 'Upravit hráče'}"></h1>

<form method="post" th:action="@{/players/save}" th:object="${player}">
    <input type="hidden" th:field="*{id}">

    <label>Jméno:</label><br/>
    <input type="text" th:field="*{name}" required><br/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div><br/>

    <label>Uživatelské jméno:</label><br/>
    <input type="text" th:field="*{username}" required><br/>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div><br/>

    <label>Heslo:</label><br/>
    <input type="password" th:field="*{password}" required><br/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div><br/>

    <label>Role:</label><br/>
    <select th:field="*{role}">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
    </select><br/><br/>

    <input type="submit" value="Uložit">
</form>

<a href="/players/">Zpět</a>

</body>
</html>
