<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Seznam hráčů</title>
</head>
<body>
<h1>Seznam hráčů</h1>

<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/players/add}">Přidat nového hráče</a>

<ul>
    <li th:each="player : ${players}">
        <a th:href="@{'/players/' + ${player.id}}" th:text="${player.name}"></a>
    </li>
</ul>

<a href="/">Zpět</a>
</body>
</html>
