<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Seznam rozhodčích</title>
</head>
<body>

<h1>Seznam rozhodčích</h1>
<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/referees/add}">Přidat nového rozhodčího</a>
<ul>
    <li th:each="referee : ${referees}">
        <a th:href="@{'/referees/' + ${referee.id}}" th:text="${referee.name}"></a>
    </li>
</ul>

<a href="/">Zpět</a>

</body>
</html>
