<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Přidat / Upravit rozhodčího</title>
</head>
<body>

<h1 th:text="${referee.id == 0 ? 'Nový rozhodčí' : 'Upravit rozhodčího'}"></h1>

<form method="post" th:action="@{/referees/save}" th:object="${referee}">
    <input type="hidden" th:field="*{id}">
    Jméno: <input type="text" th:field="*{name}">
    <input type="submit" value="Uložit">
</form>

<a href="/referees/">Zpět</a>

</body>
</html>
