<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Přidat místnost</title>
</head>
<body>
<h1>Přidat místnost</h1>

<form th:action="@{/rooms/save}" th:object="${room}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Název místnosti:</label><br/>
    <input type="text" th:field="*{name}" required /><br/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div><br/>

    <label>Kapacita:</label><br/>
    <input type="number" th:field="*{capacity}" required /><br/>
    <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div><br/>

    <button type="submit">Uložit</button>
</form>

<a href="/rooms">Zpět</a>
</body>
</html>
